@inherits LayoutComponentBase

<div class="page">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="Images/logo_no_background.png" alt="Home" style="height: 50px; width: auto;" class="me-2" />
                </a>
            </div>
        </nav>
    </header>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
