
:root {
    --primary-color: #1a3733;
    --secondary-color: #3e7f67;
    --tertiary-color: #935431;
    --info-color: #3e7f67;
}

body {
    font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.text-primary {
    color: var(--primary-color) !important;
}

.text-secondary {
    color: var(--secondary-color) !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.bg-secondary {
    background-color: var(--secondary-color) !important;
}